* { box-sizing: border-box; }
body, input, select { font-size: 13px; font-family: 'Open Sans', sans-serif;  margin: 0px; padding: 0px; color: #666; }
h1 { font-weight: normal; font-size: 28px; margin: 0; text-align: center; }
h2 { font-weight: normal; font-size: 22px; margin: 0; text-align: center; }
h3 { font-weight: normal; font-size: 14px; text-align: center; }
table { border-spacing: 0px; border-collapse: collapse; }
table tr td, table tr th { padding: 5px; vertical-align: middle; }
input[type=text], input[type=password], select { padding: 10px; border: solid 1px rgba(128, 128, 128, 0.2); background-color: transparent; min-width: 240px; }
input[type=text].small { min-width: 60px; width: 60px; }
input[type=text].url { width: 500px; }
select.month { min-width: 80px; width: 80px; }
input[type=text].tiny {  min-width: 30px;width: 30px; }
input[type=submit], input[type=button] { padding: 18px 24px; border: none; background-color: rgba(0, 0, 0, 0.8); color: white; min-width: 150px; font-size: 13px; }
input[type=submit].small, input[type=button].small { padding: 10px 18px; border: none; background-color: rgba(0, 0, 0, 0.8); color: white; min-width: 100px; font-size: 13px; }
input[type=submit].green, input[type=button].green { background-color: rgba(0, 160, 0, 0.7); }
input[type=submit]:hover, input[type=button]:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=60); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7; }
input:focus, select:focus, textarea:focus, button:focus, span:focus, div:focus, a, a:focus, a:visited, a:active { outline: none; }
a { text-decoration: none; color: inherit; }
input[type=button], input[type=submit] { cursor: pointer !important; }
input[type=radio] { margin: 0px 10px 0px 30px; };

table tr th { background-color: rgba(128, 128, 128, 0.1); }
table tr td, table tr th { font-size: 13px; border-bottom: solid 1px rgba(128, 128, 128, 0.2); border-right: solid 1px rgba(128, 128, 128, 0.2); }
table tr:first-child td, table tr:first-child th { border-top: solid 1px rgba(128, 128, 128, 0.2); }
table tr td:first-child, table tr th:first-child { border-left: solid 1px rgba(128, 128, 128, 0.2); }

table.noborder tr td, table.noborder tr th { border: none; }

h1, h2, h3 { font-weight: 400; }

.container { width: 100%; }
.centered-content { text-align: center; }
.centered-content > div { display: inline-block; }
.row { width: 100%; padding: 40px 0; }
.absolute-children { position: relative; }

.header-back { height: 80px; }
.header { z-index: 2; position: fixed; background-color: white; color: #aaa; height: 80px; padding: 20px 0 10px; border-bottom: solid 1px rgba(128, 128, 128, 0.2); }
.logo { position: absolute; left: 40px; top: 25px; white-space: nowrap; }
.logo img { height: 40px; margin-right: 20px; margin-top: -4px; }
.controls { position: absolute; right: 40px; top: 18px; text-align: right; }
.controls > div { display: inline-block; margin-left: 40px; }

.nav { padding-top: 50px; }
.nav > div { border-right: solid 1px rgba(128, 128, 128, 0.4); padding: 4px 40px; font-size: 13px; }
.nav > div:last-child { border-right: none; }
.nav > div:hover { color: rgba(128, 128, 128, 0.5); }
.nav > div.selected { color: rgba(0, 160, 0, 0.8); }

.error { color: #f11; }
.test-header { width: 960px; text-align:left; padding-bottom:20px; }
.module-name { color: #c11; font-weight: 600; }
.module-type { color: #aaa; }

.date-filter > div { padding: 0px 12px; }

.pagination > div { padding: 0 80px; }

.login-form { width: 480px; margin: 0 auto; text-align: left; }
table.login-form tr td { padding: 20px; }

.results { width: 960px; margin: 0 auto; text-align: left; }
.results.small { width: 600px; }
table.results tr td, table.results tr th { padding: 16px; }
table.scrape-results tr th:nth-child(2), table.scrape-results tr td:nth-child(2) { width: 100px; max-width: 100px; }
table.scrape-results tr th:nth-child(3), table.scrape-results tr td:nth-child(3) { width: 170px; max-width: 170px; }
table.scrape-results tr th:nth-child(4), table.scrape-results tr td:nth-child(4) { width: 100px; max-width: 100px; }
td.yes { background-color: rgba(255, 0, 0, 0.3); }
td.no { background-color: rgba(0, 255, 0, 0.3); }


 .logo1 {
  float: left;
  height: auto;
  width: 70px;
margin-right:15px;
}
 .logo1 img {max-width:100%;}
 .logo2 {
  float: left;
  width: 112px;
}
 .logo2 img {max-width:100%;}

.main-container {
  margin: 0 auto;
  max-width: 1120px;
  padding: 15px 0;
  width: 100%;
}

.header {
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  color: #aaa;
  height: auto;
  padding: 0;
  position: fixed;
  z-index: 2; top:0;
}


.header-back {
  height: auto;
}
.container.centered-content.row.nav {
margin-top:110px;
}



/* Custom CSS Goes Here - KBS*/

.flyout > div {
  background-color: #333333;
  color: #ffffff;
  font-size: 13px;
  padding: 15px 30px 15px 15px;
  position: relative;
  width: 150px;
}

.flyout {
  display: none;
  position: absolute;
  z-index: 10;
}

.flyout > div .close {
  cursor: pointer !important;
  position: absolute;
  right: 8px;
  top: 5px;
}

.flyout > div .arrow {
  background-color: #333333;
  height: 15px;
  top: -6px;
  transform: rotate(-45deg);
  width: 15px;
}

.flyout > div .arrow {
  position: absolute;
}

/*********** Custom css starts here ************/

.export-exceldata .small.green {
  float: none;
  margin: 0 auto 10px;
}

.export-exceldata {
  text-align: center;
  width: 100%;
}