/*
 * Globals.less
 *
 * Global CSS rules
 */
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* clear fix */
div:before,
a:before,
span:before,
label:before,
table:before,
input:before,
div:after,
a:after,
span:after,
label:after,
table:after,
input:after {
  content: " ";
  display: table;
}
*:after {
  clear: both;
}
.slide:before,
.slide:after {
  display: block;
}
/* box sizing */
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
span:focus,
label:focus,
a:focus,
input[type=checkbox]:focus,
input[type=text]:focus,
input[type=password]:focus,
select:focus,
input[type=button]:focus,
input[type=submit]:focus,
[contenteditable=true]:focus {
  outline: none;
}
/*::-moz-focus-inner {
    border: 0;
    padding: 0;
}*/
/*
 * Select.less
 *
 * Custom select/dropdown widget
 *
 * Motivation: Create possibility of custom design and better UX
 */
/*
 * Layout.less
 *
 * Common layout related definitions
 */
.container {
  width: 100%;
  position: relative;
}
.centered-content {
  text-align: center;
}
.centered-content > div {
  display: inline-block;
}
.top-content > div {
  vertical-align: top;
}
.grid-col {
  min-width: 240px;
  float: left;
  text-align: center;
}
.two-cols-col {
  width: 50%;
  float: left;
}
input[type=checkbox] {
  margin-right: 10px;
}
/* Borders.less
 * -- theme specific settings for borders
 */
/* Borders.less
 * -- Border definitions
 */
/* Colors.less
 * -- Theme colors
 */
/* Select.less
 * -- Theme specific settings for Select widget
 */
/*
 * MultiBrowser.less
 *
 * Constructs to easily do multi browser declarations
 */
.select {
  position: relative;
  cursor: pointer !important;
  border: solid 1px rgba(205, 205, 205, 0.5);
  color: #999999;
  background-color: #ffffff;
  min-width: 100px;
  max-width: 96vw;
  height: 40px;
  padding: 9px 48px 9px 16px;
  text-align: left;
  /*& > ul.ui-autocomplete {
        .input-border;
        .input-colors;
        .select-autocomplete-box;
        list-style: none outside none;
        white-space: nowrap;
        & > li {
            .select-list-box;
            cursor: pointer !important;
        }
    }*/
}
.no-rgba .select {
  border: solid 1px #cdcdcd;
}
.select > .selected {
  position: absolute;
  white-space: nowrap;
  cursor: pointer !important;
}
.select > .search {
  position: absolute;
  display: none;
}
.select > .search input[type=text] {
  border: none;
  padding: 0;
  height: 20px;
}
.select .control {
  position: absolute;
  right: 0px;
  height: 24px;
  width: 40px;
}
.select .control .control-container {
  position: relative;
  cursor: pointer !important;
  height: 24px;
  width: 40px;
}
.csstransforms .select .control .control-container:after {
  position: absolute;
  right: 12px;
  top: 9px;
  width: 9px;
  height: 2px;
  background-color: #ababab;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
.csstransforms .select .control .control-container:before {
  position: absolute;
  right: 18px;
  top: 9px;
  width: 9px;
  height: 2px;
  background-color: #ababab;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
}
.no-csstransforms .select .control .control-container {
  background-image: url(/img/dropdown-arrow.png);
}
.select .data {
  z-index: 5;
  position: absolute;
  height: auto;
  display: none;
  border: solid 1px rgba(205, 205, 205, 0.5);
  color: #999999;
  background-color: #ffffff;
  top: 41px;
  left: 0px;
  max-height: 150px;
  overflow-y: scroll;
  min-width: 100px;
  max-width: 96vw;
  width: auto;
  padding: 0px 16px;
}
.no-rgba .select .data {
  border: solid 1px #cdcdcd;
}
.select .data > ul {
  list-style: none outside none;
  padding-left: 0;
  white-space: nowrap;
}
.select .data > ul > li {
  padding: 9px 0;
  cursor: pointer !important;
}
/* Flyout.less
 * -- Flyout widget
 */
/*
 * MultiBrowser.less
 *
 * Constructs to easily do multi browser declarations
 */
/* Colors.less
 * -- Theme colors
 */
label.checkbox {
  position: relative;
  cursor: pointer !important;
}
.mediaqueries label.checkbox {
  padding-left: 30px;
}
.no-mediaqueries label.checkbox > input[type=checkbox] {
  margin-right: 16px;
  z-index: -5;
  margin-left: 1px;
  outline: none;
  border: none;
}
.no-mediaqueries label.checkbox > input[type=checkbox]:focus {
  outline: none;
}
.mediaqueries label.checkbox > input[type=checkbox] {
  display: none;
}
label.checkbox:before {
  position: absolute;
  left: 0px;
  top: 2px;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border: solid 1px rgba(51, 51, 51, 0.4);
}
label.checkbox:after {
  position: absolute;
  left: 3px;
  top: 5px;
  width: 10px;
  height: 10px;
  background-size: cover;
}
label.checkbox.checked:after {
  background-image: url(/img/checkbox-checked.png);
}
label.checkbox.checked.disabled:before {
  border: solid 1px rgba(51, 51, 51, 0.1);
}
label.checkbox.checked.disabled:after {
  background-image: url(/img/checkbox-disabled-checked.png);
}
/* Flyout.less
 * -- Flyout widget
 */
/* Fonts.less
 * -- Fonts and sizes used by the theme
 */
body,
table,
input,
select,
.select {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
}
/* Colors.less
 * -- Theme colors
 */
/*
 * MultiBrowser.less
 *
 * Constructs to easily do multi browser declarations
 */
/*
 * Layout.less
 *
 * Common layout related definitions
 */
.container {
  width: 100%;
  position: relative;
}
.centered-content {
  text-align: center;
}
.centered-content > div {
  display: inline-block;
}
.top-content > div {
  vertical-align: top;
}
.grid-col {
  min-width: 240px;
  float: left;
  text-align: center;
}
.two-cols-col {
  width: 50%;
  float: left;
}
input[type=checkbox] {
  margin-right: 10px;
}
.flyout {
  position: absolute;
  z-index: 10;
  display: none;
}
.flyout > div {
  position: relative;
  width: 150px;
  background-color: #333333;
  color: #ffffff;
  font-size: 13px;
  padding: 15px 30px 15px 15px;
}
.flyout > div .arrow {
  position: absolute;
}
.csstransforms .flyout > div .arrow {
  top: -6px;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #333333;
}
.no-csstransforms .flyout > div .arrow {
  top: -10px;
  width: 20px;
  height: 10px;
  background: url(/img/pointer.png) 0% 0% no-repeat;
}
.flyout > div .close {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer !important;
}
.flyout > div .flyout-content {
  overflow: auto;
}
.mediaqueries .flyout > div .flyout-content {
  max-height: 500px;
}
/* Modal.less
 * -- modal pop-up
 */
/*
 * Layout.less
 *
 * Common layout related definitions
 */
.container {
  width: 100%;
  position: relative;
}
.centered-content {
  text-align: center;
}
.centered-content > div {
  display: inline-block;
}
.top-content > div {
  vertical-align: top;
}
.grid-col {
  min-width: 240px;
  float: left;
  text-align: center;
}
.two-cols-col {
  width: 50%;
  float: left;
}
input[type=checkbox] {
  margin-right: 10px;
}
/* Borders.less
 * -- Border definitions
 */
/*
 * MultiBrowser.less
 *
 * Constructs to easily do multi browser declarations
 */
/* Colors.less
 * -- Theme colors
 */
/* Fonts.less
 * -- Fonts and sizes used by the theme
 */
body,
table,
input,
select,
.select {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
}
.modal-bg {
  z-index: 15;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  min-height: 100%;
  top: 0px;
  left: 0px;
  display: none;
  text-align: center;
}
.rgba .modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
.no-rgba .modal-bg {
  background-color: #808080;
}
.modal-bg .modal {
  display: inline-block;
  position: relative;
}
.modal-bg .modal > div {
  position: relative;
  background-color: white;
  padding: 40px;
}
.boxshadow .modal-bg .modal > div {
  -moz-box-shadow: 0 0 16px 4px #333333;
  -webkit-box-shadow: 0 0 16px 4px #333333;
  -o-box-shadow: 0 0 16px 4px #333333;
  box-shadow: 0 0 16px 4px #333333;
}
.no-boxshadow .modal-bg .modal > div {
  border: solid 1px #777777;
}
.modal-bg .modal > div .close {
  cursor: pointer !important;
  position: absolute;
}
.modal-bg .modal > div .close.text {
  top: 5px;
  right: 15px;
  font-size: 28px;
  font-weight: 600;
  color: #555555;
}
.modal-bg .modal > div .close.icon {
  top: 10px;
  right: 10px;
  height: 36px;
  width: 36px;
}
.modal-bg .modal > div .close.icon img {
  height: 100%;
  width: 100%;
}
/* Brand.less
 * -- Theme specific settings for Branding elements
 */
/* Colors.less
 * -- Theme colors
 */
/* Fonts.less
 * -- Fonts and sizes used by the theme
 */
body,
table,
input,
select,
.select {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
}
.site-title {
  color: #333333;
  text-transform: uppercase;
}
.site-title.left {
  float: left !important;
}
.footer {
  background-color: white;
}
.footer a:hover {
  color: #333333 !important;
}
.theme-1 {
  color: #333333;
}
h1 {
  font-size: 28px;
  font-weight: 400;
}
h2 {
  font-size: 24px;
  font-weight: 400;
}
h3 {
  font-size: 20px;
  font-weight: 400;
}
h4 {
  font-size: 18px;
  font-weight: 400;
}
h5 {
  font-size: 16px;
  font-weight: 400;
}
h6 {
  font-size: 15px;
  font-weight: 400;
}
.content h1,
.content h2,
.content h3,
.content h4,
.log-form h2,
.log-form h6,
.review-form h2 {
  color: #333333;
}
/*
 * Globals.less - theme specific globals
 */
/* Colors.less
 * -- Theme colors
 */
/* Fonts.less
 * -- Fonts and sizes used by the theme
 */
body,
table,
input,
select,
.select {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
}
body,
table,
input,
select,
.select {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
}
body,
table {
  color: #333333;
}
.rgba body {
  background-color: rgba(221, 221, 221, 0.5);
}
.no-rgba body {
  background-color: #f8f8f8;
}
/* Indications.less
 * -- respond back to user
 */
/* Colors.less
 * -- Theme colors
 */
/* Borders.less
 * -- Border definitions
 */
input,
select,
.select {
  transition: color 0.5s linear, border-style-color 0.5s linear, background-color 0.5s linear;
}
input:hover,
select:hover,
.select:hover {
  color: #333333 !important;
  border: solid 1px rgba(231, 231, 231, 0.5);
}
.no-rgba input:hover,
.no-rgba select:hover,
.no-rgba .select:hover {
  border: solid 1px #e7e7e7;
}
.select .control .control-container:before,
.select .control .control-container:after {
  transition: background-color 0.5s linear;
}
.select:hover .control .control-container:before,
.select:hover .control .control-container:after {
  background-color: #d1d1d1;
}
.select:hover .data {
  color: #999999 !important;
}
a:hover {
  color: #bbbbbb !important;
}
a {
  transition: color 0.5s linear;
}
input.type-1:hover,
input.type-2:hover {
  color: white !important;
  background-color: rgba(82, 82, 82, 0.9) !important;
}
.important-link a:hover {
  color: white !important;
}
.important-link > div {
  transition: background-color 0.5s linear;
}
.important-link > div:hover {
  background-color: rgba(82, 82, 82, 0.9) !important;
}
/* Input.less
 * -- Theme specific settings for Input elements (default HTML ones used)
 */
/* Colors.less
 * -- Theme colors
 */
/* Borders.less
 * -- theme specific settings for borders
 */
/* Borders.less
 * -- Border definitions
 */
/*
 * MultiBrowser.less
 *
 * Constructs to easily do multi browser declarations
 */
input[type=text],
input[type=password],
input[type=submit],
input[type=button],
textarea {
  min-width: 100px;
  max-width: 96vw;
  height: 40px;
  padding: 9px 16px;
  border: solid 1px rgba(205, 205, 205, 0.5);
  color: #999999;
  background-color: #ffffff;
}
.no-rgba input[type=text],
.no-rgba input[type=password],
.no-rgba input[type=submit],
.no-rgba input[type=button],
.no-rgba textarea {
  border: solid 1px #cdcdcd;
}
textarea {
  height: 120px;
}
input.type-1 {
  text-align: center;
  background-color: #222222;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
input.type-2 {
  text-align: center;
  background-color: #222222;
  color: white;
  height: 60px;
  padding: 12px 30px 12px 45px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* Nav.less
 * -- Theme specific settings for Navigation controls/bars
 */
/*
 * MultiBrowser.less
 *
 * Constructs to easily do multi browser declarations
 */
/*
 * Nav.less
 *
 * Navigation bar
 */
.navbar {
  width: 100%;
  min-height: 50px;
}
.navbar .nav {
  list-style: none outside none;
}
.navbar .nav.right {
  float: right !important;
}
.navbar .nav > * {
  float: left;
}
.navbar .nav > * {
  position: relative;
  display: block;
}
/* Colors.less
 * -- Theme colors
 */
/* Fonts.less
 * -- Fonts and sizes used by the theme
 */
body,
table,
input,
select,
.select {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
}
.navbar {
  background-color: white;
}
.navbar .nav-container .nav.right > * {
  margin-left: 60px;
}
.cssvwunit .navbar .nav-container .nav.right > * {
  margin-left: 4vw;
}
.navbar .nav-container .nav a {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
}


/******** custom css starts here ***************/


.form-row.user-domain-list i {
  float: left;
  font-style: normal;
  line-height: 40px; 
}
.form-row.user-domain-list span:first-of-type {width:78%;}
.form-row.user-domain-list span {
    float: left;
    margin-left: 10px;
}

.form-row.user-domain-list span .user-domain-textfield {width:100% !important;}