/*
 * securityscanner.less
 *
 * Security Scanner Product specific CSS definitions
 */
/*
 * MultiBrowser.less
 *
 * Constructs to easily do multi browser declarations
 */
/*
 * Layout.less
 *
 * Common layout related definitions
 */
em {
  color: red;
}
.main-container {
  margin: 0 auto;
  max-width: 1120px; 
  padding: 15px 0;
  width: 100%;
}
.logged-in.navbar {
  height: auto;
}
.nav-container.navContainer {float: right;
margin-top: 31px !important;padding-right:0 !important
}

.site-title.left.new_logo {
  margin-left: 0 !important;
  margin-right: 20px;
  margin-top: 0px !important;
}
.site-title.left.new_logo .logo {
  float: left;
  height: auto;
  width: 70px;
}
.site-title.left.new_logo .logo img {max-width:100%;}
.site-title.left.new_logo .logos  {
  float: left;
  width: 112px;
}
.site-title.left.new_logo .logos img  {max-width:100%;}
.container {
  width: 100%;
  position: relative;
}
.centered-content {
  text-align: center;
}
.centered-content > div {
  display: inline-block;
}
.top-content > div {
  vertical-align: top;
}
.grid-col {
  min-width: 240px;
  float: left;
  text-align: center;
}
.two-cols-col {
  width: 50%;
  float: left;
}
input[type=checkbox] {
  margin-right: 10px;
}
/* Colors.less
 * -- Theme colors
 */
/* Fonts.less
 * -- Fonts and sizes used by the theme
 */
body,
table,
input,
select,
.select {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
}
/*body {
    background-color: @theme-bgcolor-2;
}*/
.notice {
  width: 100%;
  position: relative;
  min-height: 30px;
  padding: 4px 20px;
  font-size: 13px;
  text-align: center;
  display: none;
  cursor: pointer !important;
}
.notice:after {
  position: absolute;
  top: 4px;
  right: 10px;
  content: "x";
  cursor: pointer !important;
}
.notice.error {
  color: #ff1000;
  background-color: #f0d0c0;
}
.notice.info {
  cyolor: #10a000;
  background-color: #d0f0c0;
}
.error {
  color: #ff1111;
}
@media screen and (min-width: 1281px) {
  .container-internal {
    width: 1120px;
  }
}
@media screen and (min-width: 1121px) and (max-width: 1281px) {
  .container-internal {
    width: 1020px;
  }
}
@media screen and (min-width: 961px) and (max-width: 1120px) {
  .container-internal {
    width: 840px;
  }
}
@media screen and (max-width: 960px) {
  .container-internal {
    width: 100%;
  }
}
@media screen and (min-width: 1121px) {
  .container-internal .grid-col {
    width: 25%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1120px) {
  .container-internal .grid-col {
    width: 33.33%;
  }
}
@media screen and (min-width: 521px) and (max-width: 800px) {
  .container-internal .grid-col {
    width: 50%;
  }
}
@media screen and (max-width: 520px) {
  .container-internal .grid-col {
    width: 100%;
  }
}
.page-header {
  padding: 20px 0 10px;
  background-color: white;
}
@media screen and (min-width: 1281px) {
  .page-header {
    width: 1120px;
  }
}
@media screen and (min-width: 1121px) and (max-width: 1281px) {
  .page-header {
    width: 1020px;
  }
}
@media screen and (min-width: 961px) and (max-width: 1120px) {
  .page-header {
    width: 840px;
  }
}
@media screen and (max-width: 960px) {
  .page-header {
    width: 100%;
  }
}
@media screen and (min-width: 1121px) {
  .page-header .grid-col {
    width: 25%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1120px) {
  .page-header .grid-col {
    width: 33.33%;
  }
}
@media screen and (min-width: 521px) and (max-width: 800px) {
  .page-header .grid-col {
    width: 50%;
  }
}
@media screen and (max-width: 520px) {
  .page-header .grid-col {
    width: 100%;
  }
}
.page-header h1,
.page-header h2,
.page-header h3,
.page-header h4,
.page-headerh5 {
  color: #333333;
}
@media screen and (min-width: 961px) {
  .body-margin-top {
    margin-top: 80px;
  }
}
@media screen and (min-width: 961px) {
  .body-margin-bottom {
    height: 80px;
  }
}
.white {
  background-color: white;
}
.flyout > div {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.header-back {
  position: relative;
  height: 110px;
}
@media screen and (max-width: 700px) {
  .header-back {
    height: 190px;
  }
}
.navbar {
  top: 0px;
  height: 110px;
  z-index: 5;
  position: fixed;
  border-bottom: solid 1px rgba(205, 205, 205, 0.5);
}
@media screen and (max-width: 700px) {
  .navbar {
    height: 190px;
  }
}
.navbar .site-title {
  cursor: pointer !important;
  white-space: nowrap;
  font-size: 24px;
  color: #aaaaaa;
  margin-top: 32px !important;
  padding-top: 3px;
}
@media screen and (min-width: 801px) {
  .navbar .site-title {
    margin-left: 8vw;
  }
}
@media screen and (min-width: 701px) and (max-width: 800px) {
  .navbar .site-title {
    margin-left: 3vw;
  }
}
@media screen and (max-width: 700px) {
  .navbar .site-title {
    float: none !important;
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  .navbar .site-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 340px) {
  .navbar .site-title {
    font-size: 18px;
  }
}
.navbar .site-title > div {
  display: inline-block;
  vertical-align: middle;
}
.navbar .site-title .logo {
  height: 40px;
  margin-right: 15px;
}
 
@media screen and (max-width: 420px) {
  .navbar .site-title .logo {
    margin-right: 10px;
    height: 32px;
  }
}
@media screen and (max-width: 340px) {
  .navbar .site-title .logo {
    margin-right: 8px;
    height: 28px;
  }
}
.navbar .nav-container {
  float: right;
  margin-top: 46px;
}
.navbar .nav-container .nav {
  padding-left: 0px;
}
.navbar .nav-container .nav li {
  z-index: 5;
  margin-left: 4vw !important;
}
.navbar .nav-container .nav li a {
  font-size: 14px;
}
@media screen and (min-width: 801px) {
  .navbar .nav-container {
    padding-right: 8vw;
  }
}
@media screen and (min-width: 701px) and (max-width: 800px) {
  .navbar .nav-container {
    padding-right: 3vw;
  }
}
@media screen and (max-width: 700px) {
  .navbar .nav-container {
    float: none !important;
    text-align: center;
    margin-top: 30px;
    padding-top: 35px;
    border-top: solid 1px rgba(205, 205, 205, 0.5);
  }
  .navbar .nav-container .nav {
    display: inline-block !important;
    float: none !important;
  }
  .navbar .nav-container .nav li {
    margin-left: 5vw !important;
    margin-right: 5vw !important;
  }
}
.navbar.home {
  background-color: transparent;
  position: absolute;
  border: none;
}
.user-id {
  margin-top: -16px;
  height: 50px;
  width: 50px;
  cursor: pointer !important;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}
.user-id.with-text {
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  color: white;
}
.content {
  text-align: center;
  width: 100%;
}
.content > div {
  display: inline-block;
  background-color: white;
  padding: 0 5%;
}
@media screen and (min-width: 1281px) {
  .content > div {
    width: 1120px;
  }
}
@media screen and (min-width: 1121px) and (max-width: 1281px) {
  .content > div {
    width: 1020px;
  }
}
@media screen and (min-width: 961px) and (max-width: 1120px) {
  .content > div {
    width: 840px;
  }
}
@media screen and (max-width: 960px) {
  .content > div {
    width: 100%;
  }
}
@media screen and (min-width: 1121px) {
  .content > div .grid-col {
    width: 25%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1120px) {
  .content > div .grid-col {
    width: 33.33%;
  }
}
@media screen and (min-width: 521px) and (max-width: 800px) {
  .content > div .grid-col {
    width: 50%;
  }
}
@media screen and (max-width: 520px) {
  .content > div .grid-col {
    width: 100%;
  }
}
.content > div * {
  text-align: left;
}
.content > div:first-child {
  padding-top: 30px;
}
.content > div:last-child {
  padding-bottom: 30px;
}
.content h3 {
  color: #999999;
}
.content ul,
.content ol {
  text-align: left;
  padding-left: 0px;
  list-style-position: inside;
}
.content ul > li > ol,
.content ol > li > ol {
  margin-top: 10px;
}
.content ul > li > ol > li,
.content ol > li > ol > li {
  margin-bottom: 10px;
}
.content p {
  text-align: justify;
}
.footer {
  border-top: solid 1px rgba(205, 205, 205, 0.5);
  padding: 20px 0;
}
.footer > div {
  margin: 10px 0;
  font-size: 12px;
}
.footer > div.italic {
  font-style: italic;
}
.footer > div.italic a {
  font-style: italic;
}
.home-page.content > div:first-child {
  -moz-box-shadow: 0 0 4px 1px #dddddd;
  -webkit-box-shadow: 0 0 4px 1px #dddddd;
  -o-box-shadow: 0 0 4px 1px #dddddd;
  box-shadow: 0 0 4px 1px #dddddd;
}
@media screen and (min-width: 801px) {
  .home-page.content > div:first-child .col {
    float: left;
    width: 50%;
    padding: 0px 2%;
  }
}
.home-page-buttons {
  text-align: center !important;
  padding: 40px 0;
}
.home-page-buttons > div {
  margin: 0 40px;
}
@media screen and (min-width: 1281px) {
  .form-container {
    width: 1120px;
  }
}
@media screen and (min-width: 1121px) and (max-width: 1281px) {
  .form-container {
    width: 1020px;
  }
}
@media screen and (min-width: 961px) and (max-width: 1120px) {
  .form-container {
    width: 840px;
  }
}
@media screen and (max-width: 960px) {
  .form-container {
    width: 100%;
  }
}
@media screen and (min-width: 1121px) {
  .form-container .grid-col {
    width: 25%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1120px) {
  .form-container .grid-col {
    width: 33.33%;
  }
}
@media screen and (min-width: 521px) and (max-width: 800px) {
  .form-container .grid-col {
    width: 50%;
  }
}
@media screen and (max-width: 520px) {
  .form-container .grid-col {
    width: 100%;
  }
}
@media screen and (min-width: 961px) {
  .form-container {
    margin-bottom: 80px;
  }
}
.form-container > div {
  background-color: white;
}
.form-container .log-form {
  padding: 0 5%;
  min-height: 550px;
  -moz-box-shadow: 0 0 4px 1px #dddddd;
  -webkit-box-shadow: 0 0 4px 1px #dddddd;
  -o-box-shadow: 0 0 4px 1px #dddddd;
  box-shadow: 0 0 4px 1px #dddddd;
}
@media screen and (min-width: 511px) {
  .form-container .log-form {
    min-width: 510px;
    width: 50%;
  }
}
@media screen and (max-width: 510px) {
  .form-container .log-form {
    width: 100%;
  }
}
.form-container .log-form .log-options > div {
  margin: 0px 40px;
}
.form-container .log-form > .form-row:first-child {
  margin-top: 30px;
  margin-bottom: 20px;
}
.form-container .log-form > .form-row:last-child {
  margin-bottom: 30px;
}
.form-container.signup-form .log-form {
  min-height: 920px;
}
.form-row {
  padding: 15px 0;
}
.form-row h1,
.form-row h2,
.form-row h3,
.form-row h4,
.form-row h5 {
  margin: 0px;
}
.form-row table {
  text-align: left;
}
@media screen and (min-width: 511px) {
  .form-row table td {
    padding: 20px;
  }
}
@media screen and (max-width: 510px) {
  .form-row table td {
    padding: 10px;
    display: block;
  }
}
.form-row input[type=text],
.form-row input[type=password] {
  color: #aaaaaa;
  min-width: 240px;
}
.form-row input[type=text].url,
.form-row input[type=password].url {
  width: 90%;
}
.form-row textarea {
  color: #aaaaaa;
  min-width: 300px;
  height: 200px;
}
.form-row .select {
  color: #aaaaaa;
}
.form-row a {
  color: #999999;
}
.scan-results > div {
  background-color: white;
  padding: 20px 40px 40px;
}
@media screen and (min-width: 1281px) {
  .scan-results > div {
    width: 1120px;
  }
}
@media screen and (min-width: 1121px) and (max-width: 1281px) {
  .scan-results > div {
    width: 1020px;
  }
}
@media screen and (min-width: 961px) and (max-width: 1120px) {
  .scan-results > div {
    width: 840px;
  }
}
@media screen and (max-width: 960px) {
  .scan-results > div {
    width: 100%;
  }
}
@media screen and (min-width: 1121px) {
  .scan-results > div .grid-col {
    width: 25%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1120px) {
  .scan-results > div .grid-col {
    width: 33.33%;
  }
}
@media screen and (min-width: 521px) and (max-width: 800px) {
  .scan-results > div .grid-col {
    width: 50%;
  }
}
@media screen and (max-width: 520px) {
  .scan-results > div .grid-col {
    width: 100%;
  }
}
@media screen and (min-width: 961px) {
  .scan-results > div {
    -moz-box-shadow: 0 0 4px 1px #dddddd;
    -webkit-box-shadow: 0 0 4px 1px #dddddd;
    -o-box-shadow: 0 0 4px 1px #dddddd;
    box-shadow: 0 0 4px 1px #dddddd;
    margin: 20px 0;
  }
}
@media screen and (max-width: 960px) {
  .scan-results > div {
    border-bottom: solid 1px rgba(205, 205, 205, 0.5);
  }
}
.scan-results table tr td {
  word-break: break-all;
}
.test-header {
  width: 100%;
  text-align: left;
  padding-bottom: 20px;
}
.test-header > span {
  display: inline-block;
}
.test-header .module-name {
  color: #cc1111;
  font-weight: 600;
}
.test-header .module-type {
  color: #aaaaaa;
}
table.results {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
table.results tr td,
table.results tr th {
  padding: 16px;
  font-size: 13px;
  border-bottom: solid 1px rgba(205, 205, 205, 0.5);
  border-right: solid 1px rgba(205, 205, 205, 0.5);
}
table.results tr td:first-child,
table.results tr th:first-child {
  border-left: solid 1px rgba(205, 205, 205, 0.5);
}
table.results tr:first-child td,
table.results tr:first-child th {
  border-top: solid 1px rgba(205, 205, 205, 0.5);
}
table.results tr td.yes {
  background-color: rgba(255, 0, 0, 0.3);
}
table.results tr td.no {
  background-color: rgba(0, 255, 0, 0.3);
}
table.results.users-scans tr td.vulnerabilities,
table.results.users-scans tr th.vulnerabilities {
  width: 20%;
}
@media screen and (max-width: 700px) {
  table.results.users-scans tr td.vulnerabilities,
  table.results.users-scans tr th.vulnerabilities {
    width: auto;
  }
}
@media screen and (max-width: 700px) {
  table.results.users-scans tr td,
  table.results.users-scans tr th {
    display: block;
    border-left: solid 1px rgba(205, 205, 205, 0.5);
    border-right: solid 1px rgba(205, 205, 205, 0.5);
    border-bottom: solid 1px rgba(205, 205, 205, 0.5);
    border-top: none !important;
  }
}
@media screen and (max-width: 700px) {
  table.results.users-scans tr td:last-child,
  table.results.users-scans tr th:last-child {
    border-bottom: solid 1px #888888;
  }
}
@media screen and (max-width: 700px) {
  table.results.users-scans tr th:first-child {
    border-top: solid 1px rgba(205, 205, 205, 0.5) !important;
  }
}
@media screen and (max-width: 480px) {
  table.results.users-emails tr td,
  table.results.users-emails tr th {
    display: block;
    border-left: solid 1px rgba(205, 205, 205, 0.5);
    border-right: solid 1px rgba(205, 205, 205, 0.5);
    border-bottom: solid 1px rgba(205, 205, 205, 0.5);
    border-top: none !important;
  }
}
@media screen and (max-width: 480px) {
  table.results.users-emails tr td:last-child,
  table.results.users-emails tr th:last-child {
    border-bottom: solid 1px #888888;
  }
}
@media screen and (max-width: 480px) {
  table.results.users-emails tr th:first-child {
    border-top: solid 1px rgba(205, 205, 205, 0.5) !important;
  }
}
@media screen and (max-width: 560px) {
  table.results.users-domains tr td,
  table.results.users-domains tr th {
    display: block;
    border-left: solid 1px rgba(205, 205, 205, 0.5);
    border-right: solid 1px rgba(205, 205, 205, 0.5);
    border-bottom: solid 1px rgba(205, 205, 205, 0.5);
    border-top: none !important;
  }
}
@media screen and (max-width: 560px) {
  table.results.users-domains tr td:last-child,
  table.results.users-domains tr th:last-child {
    border-bottom: solid 1px #888888;
  }
}
@media screen and (max-width: 560px) {
  table.results.users-domains tr th:first-child {
    border-top: solid 1px rgba(205, 205, 205, 0.5) !important;
  }
}



.footer_inner {
  margin: auto !important;
  max-width: 1120px;
  width: 100%;
}

.logoFooter1 {
  float: left;
  width: 15%;
 margin-top:25px;
}
.logoFooter1 img {
  max-width: 100%;
}
.logoFooter2 {
  float: left;
  width: 15%;
  margin-top: 30px;
}
.logoFooter2 img  { 
  max-width: 100%;
}
.copyright {width:70%; float:left; text-align:center;}

.infocopy {
  text-align: center;
  float: left;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}


.user-domain-textfield {
    float: left;
    width: 80% !important;
}

.results.users-domains input {
  margin: 5px;
}
